.container{
    width: var(--container-width);
    box-shadow: var(--shadow-card);
    border-radius: var(--radius-md);
    height: 700px;
    border: 1px solid var(--color-border-principal);
    display: flex;
    position: relative;
}

.container 
    .left{
        width: 35%;
        background-color: var(--color-primary-soft);
        border-radius: var(--radius-md);
        
    }

.container
    .rigth{
        width: 75%;
    }