:root {
   /* Amarillos */
  --color-yellow-primary: #FBC400;
  --color-yellow-primary-alt: #FFC400;

  --color-yellow-dark: #B77900;
  --color-yellow-dark-alt: #A86B00;

  --color-yellow-soft: #FFF8D7;

  /* Base */
  --color-white: #FFFFFF;

  /* Grises */
  --color-surface-gray: #F5F6F8;
  --color-border-gray: #D1D5DB;

  /* Texto */
  --color-text-primary: #111827;
  --color-text-secondary: #374151;
  --color-text-secondary-alt: #6B7280;

  /* Azules */
  --color-link-blue: #2563EB;

  --color-info-blue-soft: #DBEAFE;
  --color-info-blue: #2563EB;

  /* Radius */
  --radius-cards: 14px;
  --radius-soft: 7px;

  /* Shadow */
  --shadow-card: 0 8px 24px rgba(0, 0, 0, 0.08);

  /* Layout */
  --container-login-width: 1000px;
  --container-login-height: 660px;


  /* =========================
     FONT FAMILIES
  ========================= */

  --font-title: "Poppins", "Noto Sans", Arial, sans-serif;
  --font-body: "Inter", "Noto Sans", Arial, sans-serif;

  /* =========================
     FONT SIZES
  ========================= */

  --text-title-xl: 44px;
  --text-title-lg: 38px;
  --text-title-md: 34px;

  --text-subtitle-lg: 24px;
  --text-subtitle-md: 20px;
  --text-subtitle-sm: 18px;

  --text-label-lg: 16px;
  --text-label-sm: 14px;

  --text-button-lg: 20px;
  --text-button-md: 16px;

  --text-help-lg: 14px;
  --text-help-sm: 12px;

  /* =========================
     FONT WEIGHTS
  ========================= */

  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;




  /* transitions time */

  --transition-duration-button: .7s;
  --transition-duration-input: .5s;

}