.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 82px;
  gap: 25px;
}

.login-form 
  h1{
    margin: 0 auto;
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 40px;
  }

.login-form 
  h3{
    margin: 0 auto;
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 18px;
  margin-top: -10px;
  }


  
  .login-form
  a.olvido_contrasenia{
    color: var(--color-link-blue);
    text-decoration: none;
  }

.login-form
  a.registrar_proveedor{
    color: var(--color-yellow-dark-alt);
    margin: 0 auto;
  }