.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 73px;
  gap: 30px;
}

.login-form 
  h1{
    margin: 0 auto;
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 40px;
  }

.login-form 
  h3{
    margin: 0 auto;
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 18px;
  margin-top: -20px;
  max-width: 328px;
  text-align: center;
  line-height: 26px;

  }


  
  .login-form
  a.olvido_contrasenia{
    color: var(--color-link-blue);
    text-decoration: none;
  }

   .login-form
  a.volverSesion{
    color: var(--color-link-blue);
    text-decoration: none;
    margin: 0 auto;
  }

.login-form
  a.registrar_proveedor{
    color: var(--color-yellow-dark-alt);
    margin: 0 auto;
  }